.about {
  &__image {
    width: 97%;
    height: 140px;
    margin-bottom: 25px;

    object-fit: cover;
    object-position: center;
  }

  &__text {
    line-height: 18px;

    & p:first-of-type {
      margin-bottom: 20px;
    }
  }
}
