.content {
  display: flex;
  padding: 40px 0;

  color: $c-light-gray;

  &__about {
    width: 33.33%;
    margin-right: 41px;
  }

  &__services {
    width: 33.33%;
    margin-right: 41px;
  }

  &__reviews {
    width: 33.33%;
  }
}

@media screen and (max-width: 760px) {
  .content {
    flex-direction: column;
    align-items: center;

    &__about {
      width: 85%;
      margin: 0 0 30px;
    }

    &__services {
      width: 85%;
      margin: 0 0 30px;
    }

    &__reviews {
      width: 85%;
    }
  }
}
