.container {
  max-width: 1200px;
  margin: 0 auto;

  border-left: 20px solid #313131;
  border-right: 20px solid #313131;

  &__top-line {
    height: 5px;
    background-color: $c-green;
    margin: 0 -15px;
  }
}
