@import "./carousel.scss";
@import "./content.scss";
@import "./about.scss";
@import "./services.scss";
@import "./reviews.scss";

.main {
  &__title {
    margin: 40px auto;
    max-width: 710px;

    color: $c-gray;
    line-height: 30px;
    font-size: 22px;
    font-style: italic;
    text-align: center;
  }
}

@media screen and (max-width: 960px) {
  .main {
    &__title {
      font-size: 18px;
    }
  }
}

@media screen and (max-width: 460px) {
  .main {
    &__title {
      font-size: 14px;
    }
  }
}
