@import "../../node_modules/reset-css/sass/reset";
@import "./fonts/font";
@import "_normolize";
@import "./utils/vars";

@import "./blocks/header";
@import "./blocks/container";
@import "./blocks/main";

.reviews {
  font-size: 13px;
  line-height: 18px;
}

.review {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.link {
  float: right;
  margin-top: 12px;

  color: $c-green;
  text-transform: capitalize;

  &:hover {
    color: rgb(52, 87, 6);
  }
}

.title {
  margin-bottom: 30px;
  color: $c-gray;
  font-size: 22px;
  text-transform: capitalize;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  &__title {
    margin-left: 10px;
  }
}

.footer {
  margin: 0 -15px;
  padding-top: 40px;
  font-size: 12px;
  color: $c-light-gray;
  background-color: $c-dark-gray;

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-top: 1px solid $c-light-gray;
  }
}

.footer-details {
  font-size: 12px;
  line-height: 19px;
  color: $c-light-gray;

  & div:nth-child(-n + 3) {
    margin-bottom: 20px;
  }
}

.footer-blogs {
  line-height: 19px;
}

.blog {
  &:after {
    display: block;
    content: "";
    clear: both;
  }

  &:first-of-type {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 13px;
    font-weight: bold;
  }
}

.footer-title {
  margin-bottom: 35px;
  font-size: 16px;
  color: $c-white;
  text-transform: capitalize;
}

.footer-link {
  color: $c-green;

  &:hover {
    color: rgb(52, 87, 6);
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__input {
    margin-bottom: 10px;
  }

  &__input,
  &__button {
    padding: 11px;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__button {
    width: 80px;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
    color: $c-dark-gray;
    background-color: $c-green;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: rgb(178, 241, 107);
    }
  }
}

.input {
  width: 225px;
  font-size: 13px;
  color: #989898;
  border: none;
  background-color: #383838;

  &::placeholder {
    color: #989898;
  }

  &--textarea {
    height: 110px;
  }
}

.footer-media {
  &__item {
    margin-bottom: 22px;
  }
}

@media screen and (max-width: 760px) {
  .footer {
    &__content {
      flex-direction: column;
      align-items: center;
    }
  }
}
