@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: normal;

	src: url("./fonts/Georgia.eot");
  src: local("Georgia"),
    url("./fonts/Georgia.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Georgia.woff") format("woff")
    url("./fonts/Georgia.ttf") format("truetype");
}
